@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap");

@keyframes titleRollIn {
  0% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

:root {
  --work-sans: "Work Sans", sans-serif;
}

.home {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;

  .waves {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .titleHolder {
    z-index: 5;

    .textWrapper {
      overflow: hidden;

      .text {
        position: relative;
        font-family: var(--work-sans);
        font-size: 10vw;
        font-weight: 100;
        transform-origin: -100%;
        animation: titleRollIn 2s ease-in-out forwards;

        &.subTitle{
            font-size: 2vw;
            font-weight: 100;
        }
      }
    }
  }
}
