@import "https://unpkg.com/open-props/easings.min.css";

.titleHolder {
  --duration: 3s;
  z-index: 1;

  .textWrapper {
    overflow: hidden;
    // @include translateYY(var(--YY));
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;

    .text {
      position: relative;
      font-family: var(--work-sans);
      font-size: 10vw;
      font-weight: 100;
      transform-origin: -100%;
      animation: titleSlideIn var(--duration) var(--ease-in-out-5) both;

      &.subTitle {
        font-size: 2vw;
        font-weight: 100;
      }
    }
  }
}

@keyframes titleSlideIn {
  0% {
    transform: translateY(-1.5em);
  }
  45% {
    transform: translateY(0em);
  }

  55% {
    transform: translateY(0em);
  }

  100% {
    transform: translateY(1.5em);
  }
}
